In [6]:
# Bibliotecas principais
import pandas as pd

# Definindo o caminho base
caminho_base = r'C:\Users\Aline.Aline\Desktop\GitHub\Projeto 7 - Sistema de Apoio à Área de Benefícios\data'

# Lendo os arquivos diretamente do caminho correto
colab_df = pd.read_csv(fr'{caminho_base}\colaboradores.csv')
benef_df = pd.read_csv(fr'{caminho_base}\uso_beneficios.csv')

# Visualizar as 5 primeiras linhas de cada base
colab_df.head()

,ID_Colaborador,Nome,Email,Telefone,Departamento,Tempo_Empresa,Faixa_Etaria
0,1,Renan da Cruz,moreirarafael@melo.br,31 3156-2664,TI,> 5 anos,46+
1,2,Vicente da Conceição,ycastro@nogueira.br,0500 299 9199,TI,< 1 ano,26-35
2,3,João Vitor Barros,alveserick@almeida.br,+55 51 2040 4265,TI,1-2 anos,26-35
3,4,Milena Moreira,ccostela@yahoo.com.br,+55 (084) 9741 3421,Comercial,2-5 anos,18-25
4,5,Vitor das Neves,larissaferreira@gmail.com,+55 81 9497 0994,Administrativo,1-2 anos,36-45

In [7]:
benef_df.head()

   ID_Colaborador Benefício_Utilizado Data_Adesão
0               1    Auxílio Academia  2023-10-26
1               1      Plano de Saúde  2023-10-09
2               1   Auxílio Psicólogo  2024-08-29
3               1       Vale Refeição  2023-10-29
4               2      Plano de Saúde  2025-04-28

In [8]:
# Verificar nulos
colab_df.isnull().sum()
benef_df.isnull().sum()

# Verificar duplicatas
colab_df.duplicated().sum()
benef_df.duplicated().sum()

0

In [9]:
colab_df = colab_df.drop_duplicates()
benef_df = benef_df.drop_duplicates()

In [10]:
# Criar um novo ID seguro (embaralhado)
colab_df['ID_Anonimo'] = pd.factorize(colab_df['Nome'])[0] + 1

# Remover dados sensíveis
colab_anon_df = colab_df.drop(columns=['Nome', 'Email', 'Telefone'])

# Reorganizar colunas
colab_anon_df = colab_anon_df[['ID_Anonimo', 'Departamento', 'Tempo_Empresa', 'Faixa_Etaria']]
colab_anon_df = colab_anon_df.rename(columns={'ID_Anonimo': 'ID_Colaborador'})

In [12]:
# Criar mapeamento de IDs (corrigido com .copy())
id_map = colab_df[['ID_Colaborador', 'Nome']].copy()
anon_map = pd.factorize(colab_df['Nome'])[0] + 1
id_map['ID_Anonimo'] = anon_map

# Substituir IDs na base de benefícios
benef_df = benef_df.merge(id_map, on='ID_Colaborador')
benef_df = benef_df.drop(columns=['ID_Colaborador', 'Nome'])
benef_df = benef_df.rename(columns={'ID_Anonimo': 'ID_Colaborador'})

In [13]:
# Salvar bases tratadas
colab_anon_df.to_csv('colaboradores_anonimizados.csv', index=False)
benef_df.to_csv('uso_beneficios_anonimizados.csv', index=False)